.hr-travel{
    width:25%;
    height: 0.5px;
    /* background: #273035; */
    background: linear-gradient(to right, #f8f8f800, #000000e3, #ffffff00);
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 38%;
}