*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.site-blocks-cover{
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (min-width: 1380px){
    .container{
        border-radius: 3px;
        /* border-collapse: collapse; */
        margin-top: 70px;
        width: 450px;
        height: 400px;
        padding: 0;
        background-color: rgb(255, 255, 255);
        /* margin-left: 32%; */
    }

    .header{
        font-size: 22px;
        background-color: black;
        color: white;
        padding: 9px;
        text-align: center;
    }

    form{
        margin-left: 25px;
        margin-top: 35px;
    }
    .form-control input{
        display: block;
        width:91%;
        padding: 10px;
        margin-top: 12px;
        margin-bottom: 7px;
        outline: none;
        border-radius: 3px;
        /* border: none; */
        border: 2px solid rgb(173, 169, 169);
    }
    .form-control label{
        font-size: 17px;
        margin-bottom: 30px;
    }
    #submit{
        background: black;
        padding: 10px;
        border: none;
        border-radius: 3px;
        width: 30%;
        margin-left: 31% ;
        margin-top: 20px;
        font-size: 17px;
    }

    .form-control {
        margin-bottom: 10px;
        padding-bottom: 20px;
        position: relative;
    }

    .form-control.success input {
        border-color: green;
    }

    .form-control.error input {
        border-color: red;
    }

    .form-control.success .fa-check-circle {
        visibility: visible;
        color: green;
    }

    .form-control.error .fa-exclamation-circle {
        visibility: visible;
        color: red;
    }


    .form-control.error small {
        visibility: visible;
        color: red;
    }
    .form-control i {
        position: absolute;
        visibility: hidden;
        right: 45px;
        top: 43px;
    }

    .form-control small {
        position: absolute;
        /* left: 0; */
        margin-top: 2px;
        visibility: hidden;
        /* padding-bottom:22px; */
    }
}

@media (min-width: 995px) and (max-width:1380px){
    .container{
        border-radius: 3px;
        /* border-collapse: collapse; */
        margin-top: 50px;
        width:400px;
        height: 380px;
        padding: 0;
        background-color: rgb(255, 255, 255);
        /* margin-left: 32%; */
    }
    
    .header{
        font-size: 22px;
        background-color: black;
        color: white;
        padding: 9px;
        text-align: center;
    }
    
    form{
        margin-left: 25px;
        margin-top: 35px;
    }
    input{
        display: block;
        width:91%;
        padding: 10px;
        margin-top: 12px;
        margin-bottom: 7px;
        outline: none;
        border-radius: 3px;
        /* border: none; */
        border: 2px solid rgb(173, 169, 169);
    }
    small{
        margin-bottom:22px;
    }
    label{
        font-size: 17px;
        margin-bottom: 30px;
    }
    #submit{
        background: black;
        padding: 10px;
        border: none;
        border-radius: 3px;
        width: 30%;
        margin-left: 31% ;
        margin-top: 20px;
        font-size: 17px;
    }
    .form-control{
        margin-top: 32px;
    }
    .form-control i {
        /* position: absolute; */
        visibility: hidden;
        display: none;
        /* right: 10px; */
        /* top: 40px; */
    }

    .form-control small {
        position: absolute;
        /* left: 0; */
        margin-top: 2px;
        visibility: hidden;
    }
    .form-control.success input {
        border-color: green;
    }

    .form-control.error input {
        border-color: red;
    }

    .form-control.success .fa-check-circle {
        visibility: visible;
        color: green;
    }

    .form-control.error .fa-exclamation-circle {
        visibility: visible;
        color: red;
    }
    .form-control.error small {
        visibility: visible;
        color: red;
    }
}

@media only screen and (min-width: 768px) and (max-width: 995px){
    .container{
        border-radius: 3px;
        /* border-collapse: collapse; */
        margin-top: 50px;
        width:400px;
        height: 380px;
        padding: 0;
        background-color: rgb(255, 255, 255);
        /* margin-left: 25%; */
    }
    
    .header{
        font-size: 22px;
        background-color: black;
        color: white;
        padding: 9px;
        text-align: center;
    }
    
    form{
        margin-left: 25px;
        margin-top: 35px;
    }
    input{
        display: block;
        width:91%;
        padding: 10px;
        margin-top: 12px;
        margin-bottom: 7px;
        outline: none;
        border-radius: 3px;
        /* border: none; */
        border: 2px solid rgb(173, 169, 169);
    }
    small{
        margin-bottom:22px;
    }
    label{
        font-size: 17px;
        margin-bottom: 30px;
    }
    #submit{
        background: black;
        padding: 10px;
        border: none;
        border-radius: 3px;
        width: 30%;
        margin-left: 31% ;
        margin-top: 20px;
        font-size: 17px;
    }
    .form-control.success input {
        border-color: green;
    }

    .form-control.error input {
        border-color: red;
    }

    .form-control.success .fa-check-circle {
        /* visibility: visible; */
        display: none;
        color: green;
    }

    .form-control.error .fa-exclamation-circle {
        /* visibility: visible; */
        display: none;
        color: red;
    }


    .form-control.error small {
        visibility: visible;
        color: red;
    }
    .form-control{
        margin-top: 32px;
    }
    .form-control i {
        /* position: absolute; */
        visibility: hidden;
        display: none;
        /* right: 45px; */
        /* top: 325px; */
    }

    .form-control small {
        position: absolute;
        /* left: 0; */
        margin-top: 2px;
        visibility: hidden;
        /* padding-bottom:22px; */
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px){
    .container{
        border-radius: 3px;
        /* border-collapse: collapse; */
        margin-top: 50px;
        width:350px;
        height: 380px;
        padding: 0;
        background-color: rgb(255, 255, 255);
        /* margin-left: 25%; */
    }
    
    .header{
        font-size: 22px;
        background-color: black;
        color: white;
        padding: 9px;
        text-align: center;
    }
    
    form{
        margin-left: 25px;
        margin-top: 35px;
    }
    input{
        display: block;
        width:91%;
        padding: 10px;
        margin-top: 12px;
        margin-bottom: 7px;
        outline: none;
        border-radius: 3px;
        /* border: none; */
        border: 2px solid rgb(173, 169, 169);
    }
    small{
        margin-bottom:22px;
    }
    label{
        font-size: 17px;
        margin-bottom: 30px;
    }
    #submit{
        background: black;
        padding: 10px;
        border: none;
        border-radius: 3px;
        width: 30%;
        margin-left: 31% ;
        margin-top: 20px;
        font-size: 17px;
    }
    .form-control.success input {
        border-color: green;
    }

    .form-control.error input {
        border-color: red;
    }

    .form-control.success .fa-check-circle {
        /* visibility: visible; */
        color: green;
        display: none;
    }

    .form-control.error .fa-exclamation-circle {
        /* visibility: visible; */
        color: red;
        display: none;
    }
    .form-control{
        margin-top: 32px;
    }

    .form-control.error small {
        visibility: visible;
        color: red;
    }
    .form-control i {
        /* position: absolute; */
        visibility: hidden;
        display: none;
        /* right: 45px; */
        /* top: 43px; */
    }

    .form-control small {
        position: absolute;
        /* left: 0; */
        margin-top: 2px;
        visibility: hidden;
        /* padding-bottom:22px; */
    }

}

@media only screen and (max-width: 600px){

    .container{
        border-radius: 3px;
        /* border-collapse: collapse; */
        margin-top: 50px;
        width:260px;
        height: 350px;
        padding: 0;
        background-color: rgb(255, 255, 255);
        /* margin-left: 5%; */
    }
    
    .header{
        font-size: 22px;
        background-color: black;
        color: white;
        padding: 9px;
        text-align: center;
    }
    
    form{
        margin-left: 25px;
        margin-top: 35px;
    }
    input{
        display: block;
        width:91%;
        padding: 10px;
        margin-top: 12px;
        margin-bottom: 7px;
        outline: none;
        border-radius: 3px;
        /* border: none; */
        border: 2px solid rgb(173, 169, 169);
    }
    small{
        margin-bottom:22px;
    }
    label{
        /* margin-top:50px; */
        font-size: 17px;
        margin-bottom: 30px;
    }
    .form-control{
        margin-top: 32px;
    }

    #submit{
        background: black;
        padding: 10px;
        border: none;
        border-radius: 3px;
        width: 30%;
        margin-left: 31% ;
        margin-top: 25px;
        font-size: 17px;
    }
    .form-control.success input {
        border-color: green;
    }

    .form-control.error input {
        border-color: red;
    }

    .form-control.success .fa-check-circle {
        /* visibility: visible; */
        color: green;
        display: none;
    }

    .form-control.error .fa-exclamation-circle {
        /* visibility: visible; */
        display: none;
        color: red;
    }


    .form-control.error small {
        visibility: visible;
        color: red;
    }
    .form-control i {
        /* position: absolute; */
        visibility: hidden;
        display: none;
        /* bottom: 40px; */
        /* right: 45px; */
        /* top: 4px; */
        /* float: left; */
    }
    .form-control small {
        /* padding-top: 5px; */
        position: absolute;
        /* left: 0; */
        margin-top: 2px;
        visibility: hidden;
        /* margin-bottom:22px; */
    }
}