*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.site-blocks-cover{
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.header{
    background-color: black;
    color: white;
    padding: 10px ;
    text-align: center;
    margin-bottom: 30px;
}
.container{
    padding:0;
    background: white;
    border-radius: 5px;
}
.container .form-group{
    padding: 10px 20px;
}

.form-control{
    border: 1px solid rgb(212, 209, 209);
    outline: none;
}

button{
    width: 20%;
    margin-left: 39%;
    margin-top: 15px;
    margin-bottom: 30px;
}
